.mainDate
{
	margin: 0 auto;
	position: relative;
	text-align: center;

	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}


.btnDate
{
	cursor: pointer;
	padding: 2px;
}
.btnDate:hover
{
	background: rgba(50,50,50,0.2);
}

.leftArrow
{
	left: 20px;
}

.rightArrow
{
	right: 20px;
}
.arrow
{
	cursor: pointer;
	padding: 2px;
	position: absolute;
	height: 100%;
	line-height: 100%;
}
.arrow:hover
{
	background: rgba(50,50,50,0.2);
}



#calendar tbody tr {
	/* height: 10vh; */
}
#calendar  td {
	text-align: center;
	width: 14.28%;
}

#calendar
{
	position: relative;
	margin: 0 auto;
	width: 90vw;
	height: 90vw;
	text-align: center;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#calendar th
{
	height: 14.28%;
}

#calendar .dayPreviousMonth, #calendar .dayNextMonth
{
	opacity: 0.5;
	text-align: center;
}

#calendar #todayDate
{
	border: 1px solid rgb(228,38,24);
}


.circleDay
{
	margin: 0 auto;
	width: 32px;
	height: 32px;
	cursor: pointer;
	border-radius: 50%;
	padding: 7px;
	line-height: 100%;
	vertical-align: middle;
	display: block;

}

.circleDay:hover
{
	color: black;
	cursor: pointer;
	background: rgba(50,50,50,0.2);
}

.bubble
{
	position: relative;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	border: 1px solid grey;
	text-align: center;
	
	margin-top:-1px;
	background-color: grey;
	left: 50%;
	transform: translateX(-50%); 

}

.bubble2
{
	position: relative;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	border: 1px solid grey;
	text-align: center;
	
	margin-top:-1px;
	background-color: grey;
	left: 50%;
	transform: translateX(-50%); 

}

.followBubbleEvent
{
	background-color: orange;
	border-color: rgba(255, 165, 0, 0.7);

}

.signInBubbleEvent
{
	background-color: rgb(228,38,24);
	border-color: rgba(228,38,24, 0.7);
}


.dateChooser
{
	position: relative;
	height: 250px;
	width: 60vw;
	text-align: center;
	overflow: scroll;
	margin: 1px;
}

.dateChoice div {
	height: 35px;
	vertical-align: middle;
	line-height: 35px;
	cursor: pointer;
}

.dateChoice
{
	padding-top: 110px;
	padding-bottom: 110px; 
	color: black;

}

.targetChoice
{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 35px;
	position: fixed;
	z-index: 1;
	width: 90%;
	border: 1px solid black;

}

.btnV 
{
	display: block;
	vertical-align: middle;
	line-height: 35px;
	position: absolute;
	/*right: -30px;
	padding-left: 5px;
	text-align: left; */
	 right: -37px; 
	margin-left: 10%;
	width: 35px;
	background-color: rgba(228,38,24,1);
	
	color: white;
	cursor: pointer;
	top: -1px;


}

.btnV::before
{
    display: block;
    position: absolute; 
    right: 35px;
    right: 33px; 
    color: white;
    cursor: pointer;

  	border-top: 10px solid transparent;
    border-right: 15px solid rgb(228,38,24);
    border-bottom: 10px solid transparent; 

     /*  border-top: 17.5px solid transparent;
    border-right: 25px solid rgb(228,38,24);
    border-bottom: 17.5px solid transparent;  */
    height: 0px;
   	color:	transparent;
   margin-top: 7.5px; 
    content: ".";
    font-size: 0px;
}

.tableDate
{
	text-align: center;
	
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;

}

#eventsList
{
	margin: 0 auto;
	width: 90vw;
}
.tableDate tbody tr {
	text-align: center;
	display: block;
	border: 1px solid rgb(79,77,80);
	border-top: 0px;
	min-height: 3em;
	line-height: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	vertical-align: center;
	
}

.tableDate tbody tr td {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

.tableDate .titleDate {
	background-color: rgb(228,38,24);
	color: white;
	height: 3em;
	line-height: 3em;
	vertical-align: center;
	position: relative;
}

.tableDate .cellBubble {
	width: 5%;
}

.tableDate .cellTime {
	width: 15%;
}

.tableDate .cellName {
	width: 40%;
}

.tableDate .cellPlace {
	width: 40%;
}

.arrow2 
{
	cursor: pointer;
	padding: 2px;
	position: absolute;
	line-height: 20px;
	vertical-align: bottom;
	margin-top: 8px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	transition: all 0.2s;

}

.arrow2:hover
{
	background-color: white;
	color: rgba(228,38,24,1);

}