*, body, .neutral {
  font-family: "Ubuntu", sans-serif;
}

body {
	background-color: white;
	margin: 0;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
  overflow: hidden;
}

.handwritten *:not(.fas) {
  font-family: "Indie Flower", sans-serif;
}

.geeky *:not(.fas) {
  font-family: "VT323", sans-serif;
}

.neutral {
  font-family: "Ubuntu", sans-serif;
}

.geeky {
  font-family: "VT323", sans-serif;
}

.handwritten {
  font-family: "Indie Flower", sans-serif;
}


hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.z-index-1 {
	box-shadow: 0 0 2px 0px grey;
}

.z-index-2 {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.primary-bg {
	background-color: #F0F0FF;
}

header {
	padding: 10px;
	box-sizing: border-box;
	width: calc( 100% );
	position: fixed;
	top: 0;
	height: 60px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
  z-index: 10;
}

.content {
	padding: 10px;
  /* padding-bottom: 60px; */
	box-sizing: border-box;
	width: calc( 100vw );
	height: calc( 100vh - 120px );
	margin: 60px 0px;
  overflow: scroll;
  scroll-behavior: smooth;
}

.contentPage
{
  padding-bottom: 50px;
}
footer {
	padding: 10px;
	box-sizing: border-box;
	width: calc( 100% );
	position: fixed;
	bottom: 0;
	height: 60px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.littleWhiteLine
{
  margin-bottom: 10px;
}

.icon-btn {
	width: 40px;
	height: 40px;
	padding: 5px;
	margin: 0px;
	border: none;
	box-shadow: none;
	background-color: transparent;
  font-size: 30px;
  line-height: 30px;
	transition: 0.2s;
  /* -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%); */
  transition: all 0.5s ease;
	outline: none;
}
.icon-btn .fas {
  color: #555;
  -webkit-transition: color 6s ease-in;
  -moz-transition: color 6s ease-in;
  -o-transition: color 6s ease-in;
  transition: color 6s ease-in;
}

.icon-btn.active .fas, .icon-btn:hover .fas {
  color: #e33;
}
.icon-home {
	background: url("../assets/feed.png");
	background-size: contain;
  background-repeat: no-repeat;
	background-position: center;
}
.icon-calendar {
	background: url("../assets/calendar.png");
	background-size: contain;
	background-position: center;
}
.icon-list {
	background: url("../assets/list.png");
	background-size: contain;
	background-position: center;
}
.icon-tool {
	background: url("../assets/tool.png");
	background-size: contain;
	background-position: center;
}

.segments {
  display: flex;
  align-content: stretch;
}
button.segment {
  position: relative;
  padding: 5px;
  flex-grow: 1;
  background-color: red;
  color: white;
}
button.segment::after {
  position: absolute;
  left: 50%;
  width: 0%;
  content: '.';
  color: transparent;
  border-bottom: solid 2px white;
  transition: all 0.5s;
}
button.segment:active {
  outline: none;
}
button.segment.active::after {
  content: '.';
  left: 20%;
  width: 60%;
  color: transparent;
  border-bottom: solid 2px white;
}

button.asso-insight,
button.followable {
  outline: none;
  height: 40px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #838383;
  color: #838383;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease, letter-spacing 0s;
  margin: 0rem;
}

button.asso-insight:active {
  background: #ddd;
}

button.followable:active {
  letter-spacing: 0px;
}
button.followable:after {
  content: "S'abonner";
}

button.followable.unfollow{
  outline: none;
  height: 40px;
  text-align: center;
  width: 100%;
  border-radius: 5px;

  border: 2px solid rgb(228,38,24);

  color: white;
  background:rgb(228,38,24);

  letter-spacing: 0px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  margin: 0rem;
}

button.followable.unfollow:after {
  content: "Abonné";
}


.profile-image {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.profile-image img {
  height: 40px;
  max-width: 40px;
  border-radius: 50%;
  border: 2px solid #838383;
}





.searchbar {
  height: 100%;
	width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: transparent;
}
.searchbar #searchbar-input {
  border: 0px solid;
  border-bottom: 2px solid black;
  width: 100%;
  font-size: 1em;
  outline: none;
  color: #606060;
  display: none;
}
.searchbar .fa-times {
  display: none;
  font-size: 1.1em;
  cursor: pointer;
}
.searchbar .fa-search {
  font-size: 1.1em;
  cursor: pointer;
}

input {
	background: transparent;
}

.redTextINSA
{
	color: rgb(228,38,24);
}

.greyTextINSA
{
	color: rgb(79,77,80);
}

.roll
{
  background: rgb(230,230,230);
  border-radius: 2px;
  ;
}

.frame
{
	position: fixed;
	z-index: 1;
	border: 1px solid rgb(79,77,80);
	padding: 2px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.darkScreen
{
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;


}


#topBar
{

}

#bottomBar
{


}

#mainPart
{
	position: relative;
}

/* Vuetify fix */
.headline {
  font-family: inherit !important;
}

.fabButton
{
  position: absolute;
  bottom: 60px;
  right: 0px;
  z-index: 101;
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 2px;
  background-color: rgb(228,38,24);
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  position: absolute;
  color: white;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  line-height: 40px;
}

.up
{
  opacity: 0;
}

.addEvent
{
  left: 20px;
  font-family: sans-serif;
  display: none;
}

.moreOption
{
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  margin: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 16px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: rgba(200,200,200,0.1);
    -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.moreOption:hover
{
  background-color: rgba(200,200,200,0.5);
}

.moreOptionMenu
{
  display: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.moreOptionMenu div
{
  text-align: justify;
  cursor: pointer;
}

.moreOptionMenu div:before
{
  content: '.';
   color: transparent;
   display: inline-block;
   height: 20px;
   width: 20px;
   background-position: right top;
   background-size: 100%;
   margin-right: 5px;
}

.followEvtOpt:before
{
   background-image: url("../assets/calendar.png");
}

.HideEvtOpt:before
{

  background-image: url("../assets/calendar.png");
}

.HideEvtAssoOpt:before
{

  background-image: url("../assets/calendar.png");
}

.ShowDetEvt:before
{

  background-image: url("../assets/calendar.png");
}

.ContAsso:before
{

  background-image: url("../assets/calendar.png");
}
.hideOption
{
  display: none;
}

 .optionFollow:after
 {
    content: "\0000A0 Suivre l'événement";
    padding-right: 5px;
 }

 .optionUnfollow:after
 {
    content: "\0000A0 Evénement suivi";
    padding-right: 5px;
 }

 .optionUnhideA:after
 {
  content: "\0000A0 Evénements de l'association masqués";
  padding-right: 5px;
 }

.optionHideA:after
{
  content: "\0000A0 Masquer les événements de l'association";
  padding-right: 5px;
}

.optionHide:after
{
  content: "\0000A0 Masquer l'événement";
  padding-right: 5px;
}

.optionUnhide:after
{
  content: "\0000A0 Evénement masqué";
  padding-right: 5px;
}

.resgisteredEvt:after
{
  content: "\0000A0 Vous êtes inscrit à cet événement";
  padding-right: 5px;
  background-color: rgb(228,38,24);
  color: white;
}